.barra {
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 100;
}
#carouselExampleIndicators {
  margin-left: 200px;
  width: 50vw;
  height: 50vh;
}
#carouselExampleIndicators img {
  width: 100%;
  height: 50vh;
}
.noti {
  width: 100px;
  height: 100px;
  margin-top: 10px;
  position: absolute;
  right: 0;
  margin-right: 100px;
  text-align: right;
}
.blog {
  width: 50vw;
  height: 50vh;
  margin-left: 200px;
}
.container {

  width: 80vw;
  margin:60px 100px 20px;
  background-color: #DFDCD1;
}
p{
  text-align: justify;
}
.separador {
  margin-top: 50px;
}
.footer{
  width: 100%;
  height: 40vh;
  background-color: #D3DDE5;
}
